SECRET_KEY=

DEBUG=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#API STRIPE
#Прямая ссылка на тест ключи - https://dashboard.stripe.com/acct_1TvjsGCMr4hVVbmR/test/apikeys
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...