# DATABASES.
DB_NAME=sky_tbook
DB_USER=sky_user
DB_PASSWORD=*9***5**3
DB_HOST=localhost
DB_PORT=5432

# SECRET_KEY.
SECRET_KEY=generate-your-secret-key

# DEBUG.
DEBUG=True

# Windows использует кодировку CP1251 вместо UTF-8
PYTHONIOENCODING=utf-8

#API STRIPE
#Прямая ссылка на тест ключи - https://dashboard.stripe.com/acct_1TvjsGCMr4hVVbmR/test/apikeys
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...

# Redis
REDIS_URL=redis://127.0.0.1:****/*

# Настройки email по SMTP.
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587 # Для TLS port-587 для SSL port-465.
EMAIL_HOST_USER=****************@gmail.com
EMAIL_HOST_PASSWORD=**j***mw***ug***